/* Module Spacer */
.module-spacer {
  height: 32px;
}
/* header */
main {
  padding: 96px;
}

.header__logo {
  height: 5rem;
  width: 8rem;
}

.header__menus {
  margin: 0 0 0 auto;
}

.header__search-field {
  align-items: center;
  display: flex;
  margin-left: 32%;
}

/* /signup, /signin */
.user-auth {
  margin: 0 auto;
  max-width: 400px;
  padding: 1rem;
  height: auto;
  width: calc(100% - 2rem);
}

.user-auth__heading {
  font-size: 2rem;
  text-align: center;
}

.user-auth__send-button {
  text-align: center;
}

/* Home */
.section__top {
  font-size: 2rem;
  color: #000;
}